:root {
  --primary: #00f2ff;
  --secondary: #0066ff;
  --danger: #ff0055;
  --bg-dark: #050505;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-dark);
  /* MEMANGGIL GAMBAR DARI FOLDER img */
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  overflow: hidden;
}

/* Kaca film hitam transparan agar game tetap terlihat jelas */
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.page {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  border: 1px solid var(--primary);
  backdrop-filter: blur(15px);
  width: 85%;
  max-width: 300px;
}

.shimmer {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(90deg, var(--secondary), var(--primary), var(--secondary));
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
}

.tagline {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
  display: block;
  background: linear-gradient(45deg, #ff0055, #00f2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}

#gameArea {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
canvas {
  border: 2px solid var(--primary);
  border-radius: 12px;
  background: #000;
  width: 90vw;
  max-width: 380px;
  height: auto;
}

.nav-container {
  display: grid;
  grid-template-areas: ". up ." "left down right";
  grid-gap: 8px;
  margin-top: 10px;
}
.btn-nav {
  width: 50px;
  height: 50px;
  border: 1.5px solid var(--primary);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--primary);
  background: rgba(255, 255, 255, 0.05);
}
.up {
  grid-area: up;
}
.left {
  grid-area: left;
}
.down {
  grid-area: down;
}
.right {
  grid-area: right;
}

.btn {
  padding: 12px;
  background: linear-gradient(45deg, var(--secondary), var(--primary));
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Orbitron";
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
  font-size: 8px;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Orbitron";
  text-align: center;
  pointer-events: none;
}
